.button {
    -fx-background-color: rgba(255, 248, 185, 0);
    -fx-text-fill: rgb(255, 232, 156);
    -fx-font-size: 26px;
    -fx-font-weight: bolder;
    -fx-border-color:rgb(56, 146, 76);
    -fx-border-width: 4;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

.button:hover {
    -fx-background-color:rgb(74, 180, 97);
    -fx-border-color:rgb(74, 180, 97);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-width: 4;
    -fx-border-radius: 16px;
    -fx-background-radius: 18px;
}

.label.highscore {
    -fx-background-color:rgb(74, 180, 97);
    -fx-border-color:rgb(74, 180, 97);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-width: 4;
    -fx-border-radius: 16px;
    -fx-background-radius: 18px;
}
.pause-button {
    -fx-background-color: rgba(255, 248, 185, 0);
    -fx-text-fill: rgb(255, 232, 156);
    -fx-font-size: 26px;
    -fx-font-weight: bolder;
    -fx-border-color:rgb(56, 146, 76);
    -fx-border-width: 4;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

.pause-button:hover {
    -fx-background-color:rgb(74, 180, 97);
    -fx-border-color:rgb(74, 180, 97);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-width: 4;
    -fx-border-radius: 16px;
    -fx-background-radius: 18px;
}
